<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eADetector.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F3B2CAD8591EF5D4ABA9017FF4A6EABB4D177F85</string>
				<key>dateExpires</key>
				<string>4/24/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4QC73UKNQH.com.g15.capstone.eADetector</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>4QC73UKNQH</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>eADetector.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>904ace87-a04d-4aca-839e-ac9adbbf70e9</string>
				<key>dateExpires</key>
				<string>4/24/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.g15.capstone.eADetector</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4QC73UKNQH</string>
				<key>name</key>
				<string>Allen Davis-Swing</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
