<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726188547789-l4rse2smejpltl4ju749lj46jek1rlp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726188547789-l4rse2smejpltl4ju749lj46jek1rlp1</string>
	<key>API_KEY</key>
	<string>AIzaSyCU969LNlutPMses2_qr05UkXf7eNdSc98</string>
	<key>GCM_SENDER_ID</key>
	<string>726188547789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rutgers.capstone.eADetector</string>
	<key>PROJECT_ID</key>
	<string>eadetector</string>
	<key>STORAGE_BUCKET</key>
	<string>eadetector.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726188547789:ios:192abca63a7393a5559384</string>
	<key>DATABASE_URL</key>
	<string>https://eadetector-default-rtdb.firebaseio.com</string>
</dict>
</plist>